.company-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    grid-gap: 3px;
    overflow: hidden;
}

.company-card{
    width: 98%;
    border: 2px solid #f5f5f5;
    box-shadow: 4px 4px #f0f0f0;
    border-radius: 10px;    padding: 2rem;
}

.company-card a{
    color: black;
}

.company-card a:hover{
    text-decoration: none;
}

.company-name{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.company-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-ceo{
    display: block;
    text-align: right;
}

.company-description{
    color: gray;
}

.company-total-number{
    font-size: 2rem;
    border: 4px dashed gray;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    padding-top: 11px;
    margin-bottom: 1rem;
    text-align: center;
}

.company-delete-button{
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 1.3rem;
}

.company-delete-button i{
    margin-left: 4px;
}

.company-add-button{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
    margin-top: 5rem;
}