.home-screen{
    max-width: 70rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-mention{
    font-size: 3.3rem;
    font-weight: 800;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.home-mention i{
    margin-left: 4rem;
    cursor: pointer;
}