.team-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    grid-gap: 10px;
    overflow: hidden;
}

.team-card{
    border: 1px solid gray;
    padding: 2rem;
    text-align: center;
    border: 2px solid #f5f5f5;
    box-shadow: 4px 4px #f0f0f0;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.team-card .total-number{
    font-size: 2rem;
    border: 4px dashed gray;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    padding-top: 11px;
    margin-bottom: 1rem;
}


.team-company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.team-card a{
    color: black;
}

.team-card a:hover{
    text-decoration: none;
}
.team-card .company-name{
    font-size: 1.3rem;
    text-align: right;
}

.team-name{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
    font-weight: 800;
}

.team-button{
    text-align: right;
    font-size: 1.4rem;
    cursor: pointer;
}

.team-button i{
    margin-left: 4px;
}

.team-add-button{
    display: block;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

@media (max-width:766px){
    .team-card .total-number{
        margin-left: 38%;
    }

}


@media (max-width:386px){
    .team-card-container{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 1rem;
    }
}