.team-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    grid-gap: 10px;
    overflow: hidden;
    margin: 2rem;
}

.team-card{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 2rem;
    /* box-shadow: 10px 18px gray; */
    text-align: center;
}

.team-card .total-number{
    font-size: 2rem;
    border: 4px dashed gray;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    text-align: center;
    justify-content: center; 
    margin-left: 35%;
    padding-top: 11px;
    margin-bottom: 1rem;
}


.team-company{
    text-align: right;
}


.team-card a{
    color: black;
}

.team-card a:hover{
    text-decoration: none;
}
.team-card .company-name{
    font-size: 1.3rem;
    text-align: right;
}

.team-name{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

@media (max-width:766px){
    .team-card .total-number{
        margin-left: 38%;
    }

}


@media (max-width:386px){
    .team-card-container{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 1rem;
    }
}