.user-team{
    max-width: 70rem;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-screen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 80rem;
}


.user-team a{
    color: black;
}

.user-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    grid-gap: 3px;
    flex-wrap: wrap;
}

.user-card{
    min-width: 300px;
    border: 1px solid #f5f5f5;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 4px 4px #f0f0f0;
}

.user-team-delete-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-team-delete-button i{
    cursor: pointer;    
}

.user-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info-image img{
    width: 50px;
    height: 50px;
}
.user-name{
    font-size: 1.5rem;
    text-align: center;
}

.user-role{
    font-size: 1.1rem;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    color: white;
    background-color:#b2d4d6 ;
}

.ceo{
    background-color: #f2a949;
}

.leader{
    background-color: #c3deb6;
}

.user-email{
    justify-content: space-between;
    text-align: right;
}

.user-phoneNumber{
    justify-content: space-between;
    text-align: right;

}

.user-card-container .card-button{
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 4rem;
}



@media (max-width:1195px){
    .team-screen{
        display: block;
    }
}

