body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  margin-top: 6rem
}

/* Header */
@import url('./styles/header.css');

/* List */
@import url('./styles/List.css');

/* Form */
@import url('./styles/Form.css');

/* Team Card */
@import url('./styles/TeamCard.css');

/* User Card */
@import url('./styles/UserCard.css');

/* Company Card */
@import url('./styles/CompanyCard.css');

/* Profile Screen */
@import url('./styles/ProfileScreen.css');

/* Company Screen */
@import url('./styles/CompanyScreen.css');

/* Message Screen */
@import url('./styles/Message.css');

/* Search User Card */
@import url('./styles/SearchUserCard.css');

/* Home Screen */
@import url('./styles/HomeScreen.css');
